<section>
  <h2>Order your Cakes
  </h2>

  <form class="new-order-form">
    <div>
      <label for="post-title">Name</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-url">Order Info</label>
      <input id="post-url" name="post-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if orders.length}}
<section>
  <h2>Your Orders
  </h2>
  <ol>
    {{#each orders as |order|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit Order</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/public/javascript/add-post.js"></script>