<section>
  <h2>Create A Cake Order</h2>

  <form class="new-order-form">
    <div>
      <label for="order-title">Title</label>
      <input type="text" id="order-title" name="order-title" />
    </div>
    <div>
      <label for="order-url">Link</label>
      <input id="order-url" name="order-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if orders.length}}
<section>
  <h2>Your Orders</h2>
  <ol>
    {{#each orders as |order|}}
    <li>
      {{> order-info order}}
      <a href="/dashboard/edit/{{order.id}}" class="edit-link">Edit your order</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-order.js"></script>