html,
body,
header,
#intro{ 
  height: 100%;
}

#intro { 
  background: url("../assets/images/layoutpng.png")no-repeat center fixed; 
  -webkit-background: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
}