html,
body,
header,
#intro{ 
  height: 100%;
}

#intro { 
  background: url("../assets/images/layoutpng.png")no-repeat center fixed; 
  -webkit-background: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
}

header a { 
  color: hotpink;
  text-decoration: white;
  background-size: cover;
  
}

.head a:hover { 
  background-color: black;
}

.card-deck { 
  font-style: inherit: 
  font-size: 15px; 
  color: black;
  

}

.card-deck h5 { 
  font-size: 24px;
  color: hotpink;
}